<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssr.newskuku.domain.userbookmark.mapper.UserBookMarkMapper">

    <!-- 전체 조회 -->
    <select id="findAll" resultType="com.ssr.newskuku.domain.userbookmark.dto.UserBookMarkResponse$FindAll">
        SELECT b.bookmark_id,
        b.created_at AS bookmarked_at,
        n.news_id,
        n.title,
        n.thumbnail,
        n.summary,
        n.url,
        n.category
        FROM user_bookmark b
        JOIN news n ON b.news_id = n.news_id
        WHERE b.user_id = #{userInfoId}
        ORDER BY b.bookmark_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 북마크 존재여부 -->
    <select id="findByUserAndNews">
        SELECT bookmark_id AS bookmarkId,
        user_id AS userId,
        news_id AS newsId,
        created_at AS createdAt
        FROM user_bookmark
        WHERE user_id = #{userInfoId} AND news_id = #{newsId}
    </select>

    <!--    북마크 생성 -->
    <select id="insertBookMark">
        INSERT INTO user_bookmark (user_id, news_id)
        VALUES (#{userInfoId}, #{newsId});
    </select>
    <!--  북마크 삭제 -->
    <select id="deleteBookMark">
        DELETE FROM user_bookmark
        WHERE user_id = #{userInfoId} AND news_id = #{newsId};
    </select>

    <select id="countByUser" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM user_bookmark
        WHERE user_info_id = #{userInfoId}
    </select>

</mapper>