<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssr.newskuku.domain.community.mapper.CommentMapper">

    <!-- 댓글 전체 조회 -->
    <select id="selectCommentsByPostId" parameterType="Long" resultType="com.ssr.newskuku.domain.community.Comment">
        SELECT
        comments_id as commentsId,
        community_id as communityId,
        user_id as userId,
        content,
        create_at as createdAt,
        updated_at as updatedAt,
        username
        FROM comments
        WHERE community_id = #[communityId}
        ORDER BY created_at DESC
    </select>

    <!-- 2. 댓글 작성 -->
    <insert id="insertComment" parameterType="com.ssr.newskuku.domain.community.Comment">
        INSERT INTO comments (
        community_id,
        user_id,
        content,
        username,
        created_at,
        updated_at
        ) VALUES (
        #{communityId},
        #{userId},
        #{content},
        #{username},
        NOW(),
        NOW()
        )
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComent" parameterType="com.ssr.newskuku.domain.community.Comment">
        UPDATE comments
        SET content = #{content},
        updated_at = NOW()
        WHERE comments_id = #{commentsId}
    </update>


</mapper>