<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssr.newskuku.domain.notice.mapper.NoticeMapper">

    <!-- 전체 조회 -->
    <select id="findAll" resultType="NoticeResponse">
        SELECT notice_id,
        title,
        content,
        view_count,
        is_visible,
        created_at,
        updated_at
        FROM notice
        ORDER BY notice_id DESC;
    </select>

</mapper>